# project root files and folder to be fully excluded
.idea
log/
src/
archive/
sources/
.dockerignore

# exclude specific subfolders inside env folder
env/image/
env/static/
env/volume/
env/magma/
env/.commerce.env
env/.docker.env

# exclude all in env/dumps
env/dumps/**/*

# but you can go go onti these =)
!env/dumps/seed/
!env/dumps/import/
!env/dumps/export/

# but you have to ignore of those folders
env/dumps/seed/*
env/dumps/import/*
env/dumps/export/*

# and do not ingore these files
!env/dumps/seed/README.md
!env/dumps/import/README.md
!env/dumps/export/README.md

# exclude specific compose files inside env folder
env/compose.yml
env/compose.php.yml
env/compose.common.yml

# exclude etc/env specific subfolders
env/etc/build/
env/etc/runtime/

# exclude etc/env specific files
env/.env
